html {
  background-color: #FFF;
}

body {
  background-color: #00C3FF;
  color: #fff;
  color: rgba(255,255,255,.9);
  text-align: center;
  font-family: "museo-slab";
  margin: 0px;
  padding-top: 40px;
}

a {
  color: #007094;
}

h2 {
  text-transform: uppercase;
  margin: 0 auto 30px;
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: #007094;
  width: 80%;
}

.wrapper-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.aron-quote {
  font-size: 50px;
  min-height: 200px;
  margin: 20px 0;
  max-width: 90%;
}


.duenes {
  display: none;
  min-height: 160px;
  font-size: 40px;
  background-image: url(../img/pilhofer.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 14%;
  padding-left: 140px;
}

#pixelhofer-shock {
  display: none;
}

#spin {
  color: #fff;
  padding: 18px 24px;
  margin: 20px 0;
  font-family: arial, helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer {
  clear: both;
  padding: 40px 0px 40px 0px;
  background-color: #fff;
  width: 100%;
}

small {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #007094;
  font-weight: 700;
}

button {
  background-color: orange;
  border: none;
  border-radius: 6px;
}

button:active {
  background-color: orange;
}

@media (min-width:600px) {
  .wrapper {
    float: right;
    width: 80%;
    text-align: left;
  }

  .illo {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 16%;
    overflow: hidden;
  }

  .illo img {
    width: 100%;
  }
}

.illo {
  overflow: hidden;
}

.illo img {
/*  max-width: 220px;*/
  max-width: 110px;
}

.awesome {
	width: 60%;
  margin-bottom: 20px;
}

